.cards {
  width: 700px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(153, 150, 153, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(153, 150, 153, 1);
  box-shadow: 10px 10px 5px 0px rgba(153, 150, 153, 1);
}
.cards .card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.cards .text-content {
  padding: 1rem;
}
.cards button {
  float: right;
  font-size: 20px;
  font-weight: 800;
  margin-top: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  margin: 0.5rem;
}
.cards p {
  margin: 1rem 0;
}
.navigations {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 5rem auto 1rem auto;
}
.navigations button {
  display: block;
  background-color: transparent;
  outline: none;
  border: transparent;
  font-size: 20px;
  margin: 0.5rem;
  margin-right: 3rem;
  font-weight: bolder;
}
.navigations button:hover {
  color: rgba(170, 13, 225, 0.89);
  border-bottom: rgba(170, 13, 225, 0.89);
  font-size: larger;
}
.hero-btn button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  background-color: rgba(170, 13, 225, 0.89);
  gap: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  float: right;
}
@media (max-width: 1223px){
  .cards{
     margin-bottom: 1rem;
  }
}
