.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../../assets/tradition.png);
  height: 50rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  color: #ffff;
}
.hero-section .content {
  margin: 10rem auto;
  text-align: center;
  padding: 3rem 5rem;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.42);
  font-size: 24px;
}
.hero-section .content p{
  font-size: 20px;
}
.hero-section .hero-btn{
    background: rgba(170, 13, 225, 0.63);
    color: #ffff;
    font-size: 20px;
    border-radius: 15px;
    padding: 10px 20px;
    outline: none;
    border: transparent;
}
